.app {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  width:80%;
  margin:0 auto;
  max-width:1400px;
}

/* Header styles */
.header {
  padding: 10px;
  border-bottom: 1px solid #ddd; 
  background-color: lavender; 
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}


.nav {
  background-color: lightcyan; 
  padding: 15px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 65px; 
}

.nav-item {
  cursor: pointer;
  color:red;
  font-size: 25px; 
}

.nav-item.ai-innovations {
  color: #ff6f61; 
}

.nav-item.features {
  color: #1e88e5; 
}

.nav-item.safety {
  color: #43a047; 
}

.nav-item.by-google {
  color: #fbc02d; 
}

.nav-item.extensions {
  color: #e57373; 
}


.main-content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  margin-bottom: 55px;
  padding: 60px; /* Adjusted padding */
  border-radius: 8px;
  background-color: #ffffff; 
  color: #333; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 60px; 
  margin-bottom: 30px;
}


.options-box {
  background-color: lightgray; 
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.option {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ffffff; 
  color: black; /* Blue text color */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.option:hover {
  background-color: #007bff; 
  color: lightgreen;
}


.download-text {
  font-size: 18px; 
  color: #333;
  margin-top:20px; 
}

.download-link {
  color: #007bff; 
  text-decoration: underline;
  font-size: 15px;
  font-weight:bold; 
}


.slider {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

.slide-image {
  width: 100%;
  height: auto;
  display: block;
}
